$margintop: 250px;
$fuente: "Nerko One",
cursive;
$bkcolor: #106eea;
$colorfont: #222222;
$textt: 'Yeon Sung',
cursive;
a {
    color: $bkcolor;
}

a:hover {
    color: $bkcolor;
    text-decoration: none;
}

h1,
h2,
h3,
h5 {
    font-family: $fuente;
}

p {
    font-family: $textt;
    font-size: medium;
}

.listas {
    list-style: none;
}

.fondo2 {
    background-image: url(/assets/img/family.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin-bottom: 20px;
}

form {
    width: 450px;
    margin: auto;
    background-color: $bkcolor;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

input,
textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

@media (max-width:480px) {
    form {
        width: 100%;
    }
}